<body>
    <header>
        <div class="header">
            <h1>Forum</h1>
            <div>
                <button class="nav-item nav-link-edit" [routerLink]="['/login']">Logout</button >
            </div>
        </div>
    </header>
    <div>
        <table>
            <thead>
                <tr class="table_headers">
                    <td>User</td>
                    <td>Message</td>
                    <td>Posted On</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let message of messages">
                    <td>{{message.name}}</td>
                    <td>{{message.messageText}}</td>
                    <td>{{message.createdDate}}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <button class="nav-item nav-link-edit" [routerLink]="['/newMessage']">+ Add Message</button >
        </div>
    </div>
</body>

